{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All report</h1>
    </div>
    <div class="col">
        <a href="/report/new" class="btn btn-primary btn-sm mt-5" role="button">New report</a>
    </div>
</div>

{% if report %}
    {% for report in report %}
        <div class="row border">
            <div class="col-1 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5"></h3>
                {% endif %}

                <a href="/report/delete/{{report.id}}">
                    <img width="25" class="bottom-image" src="/static/delete.png">
                </a>
                <a href="/report/edit/{{report.id}}">
                    <img width="25" class="bottom-image" src="/static/edit.png">
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5">Date</h3>
                {% endif %}

                <a href="/report/{{report.id}}">
                    {{moment(report.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Name</h3>
                {% endif %}
                {{report.name}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Address</h3>
                {% endif %}
                {{report.streetAddress}} <br>
                {{report.city}}, {{reportsate}}  {{report.zip}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Description</h3>
                {% endif %}
                {{report.description}}
            </div>
            <div class="col-3 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">lat/lon</h3>
                {% endif %}
                {{report.lat}}/{{report.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No report</h1>
{% endif %}

{% endblock %}